
/*style*/
body.b1 {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', arial;
  margin: 0;
  padding: 0;
  color: #333;
}
body.b2 {
    background-image: url('ampangjaya.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', arial;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 4px;
}

nav a:hover, nav a.active, nav a.help-desk:hover {
    background-color: #008080; /* Single color palette */
    color: white;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #008080; /* Single color palette */
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #008080; /* Single color palette */
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration-color: antiquewhite;
    color: antiquewhite;
    font-family: 'Poppins';
    font-size: 3em;
}
footer {
    text-align: center; /* Center-align text */
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
}

footer p {
    margin: 0; /* Remove default margins */
}
/*food page */

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.food-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.food-item img {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
    flex: 1 1 auto;
}

.food-details {
    flex: 2 1 60%;
}

.food-details h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.food-details p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

/*helpdesk */

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
    border-bottom: 2px solid #129494;
    padding-bottom: 10px;
    text-align: center;
}

.section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: left;
}

.faqs {
    list-style-type: none;
    padding: 0;
}

.faqs li {
    margin-bottom: 20px;
}

.faqs li h3 {
    font-size: 1.2rem;
    margin: 0;
    cursor: pointer;
    color: #000000;
}

.faqs li p {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:  #008080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.contact-form button:hover {
    background-color:  #008080;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /*culture*/
  h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration-color: antiquewhite;
    color: antiquewhite;
    font-family: 'Poppins';
    font-size: 3em;
}

        .container {
            padding: 20px;
            background-color: #a08789;
        }
        .section {
            margin-bottom: 40px;
        }
        .section h2 {
            background-color: #e7d4d4;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .slideshow-container {
            position: relative;
            max-width: 30%;
            margin: auto;
        }
        .slides {
            display: none;
        }
        .slides img {
            width: 100%;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev {
            left: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }
        .description {
            padding: 15px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            margin-top: 10px;
        }
    

        /*attraction*/
        .section {
          margin-bottom: 40px;
          
      }
      .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 20px;
          background-color: #f0f0f0;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          
      }
      .attraction {
          margin-bottom: 20px;
      }
      .attraction img {
          width: 300px; /* Set a fixed width for medium size */
          height: auto;
          display: block;
          margin-bottom: 10px;
          border-radius: 5px;

      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      /*event*/
      header {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        height: 50px;
        width: auto;
    }
    .container {
        flex: 1;
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
        overflow-y: auto;
        background-color: #ffffff;
    }

    .event-table {
        width: 100%;
        border-collapse: collapse;
    }

    .event-table,
    .event-table th,
    .event-table td {
        border: 1px solid #ddd;
    }

    .event-table th,
    .event-table td {
        padding: 10px;
        text-align: left;
    }

    .event-table th {
        background-color: #f2f2f2;
    }

    .event-image {
        width: 150px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }

    .event-table .button {
        background-color: #008080;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
        display: inline-block;
        margin-top: 10px;
    }

    .event-table .button:hover {
        background-color: #004c4c;
    }

    /*history*/


  .timeline-row {
      display: flex;
      flex-wrap: wrap; /* Ensure that boxes wrap on smaller screens */
      justify-content: space-between; /* Add space between the boxes */
      margin-bottom: 1rem;
  }

  .timeline-box {
      background: rgb(197, 174, 174);
      padding: 1rem;
      margin: 0.5rem;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      flex: 1 1 calc(50% - 1rem); /* Make each box take half the available width minus margin */
      box-sizing: border-box; /* Ensure padding and border are included in the width calculation */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .timeline-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

  h2 {
      font-size: 1.8rem;
      color: #333;
      margin-top: 0;
  }

  p {
      margin-bottom: 1rem;
      text-align: justify;
  }

  .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .video-credit {
     margin-right: 390px;
     font-size: 14px;
     color: #333;
     text-align: center ;
}

/*nature*/
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  /* Ensure all images have the same size */
  .nature-section img {
    width: 100%;
    height: 300px; /* or any height you prefer */
    object-fit: cover; /* this makes sure the image covers the entire area without distortion */
  }

main {
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.nature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.nature-box {
    background: rgb(197, 174, 174);
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}
.nature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-top: 0;
}

p {
    margin-bottom: 1rem;
    text-align: justify;
}
